.char-span.correct{
    color: var(--green);
}

.char-span.incorrect{
    color: var(--red);
}

.char-span.space{
    display: inline-block;
    width: 0.25em;
    height:1em;
}

.char-span.highlight{
    background: var(--dark-level3);
    border-radius: 0.25rem;
}


.red{
    color:var(--red);
}

.yellow{
    color:var(--yellow)
}

.white{
    color:var(--white);
}

.green{
    color:var(--green);
}