@media (min-width:768px){
   body{
      padding:1.5rem 2rem;
   }


   /*HEADER*/
   #mobile-best{display: none;}
   #desktop-best{display: flex;}


   /*WPM, ACCURACY AND TIME*/
   .header-2{
      flex-direction: row;
      justify-content: space-between;
   }

   .wpm-accuracy-time{
      gap:1rem;
      font-size: 1rem;
   }

   .wpm-accuracy-time>*{
      flex-direction: row;
      padding:0;
      align-items: center;
   }

   .wpm-accuracy-time>:nth-child(2){
      padding: 0 1rem;
   }


   /*DIFFICULTY AND MODE*/
   .mobile-diff-and-mode{
      gap:0.75rem;
   }

   .dropdown-btn{
      width:7.5rem;
   }


   /*MAIN BODY*/
   .display-text-area{
      height: 300px;
   }

   .display-text-area>*{
      font-size: 2rem;
   }

   .start-test{
      font-size: 1.25rem;
   }


   /*RESULTS PAGE*/
   .results-body{
      gap:2rem;
      padding: 2rem 3rem;
   }

   #results-mobile-best{
      display: none;
   }

   #results-desktop-best{
      display: flex;
   }

   .results-block-parent{
      flex-direction: row;
      justify-content: center;
   }

   .results-block{
      width:10rem;
   }
    
}



@media (min-width:820px){
   body{
      padding: 1.5rem 3rem;
   }
   .display-text-area{
      height: 400px;
   }
}



@media (min-width:1024px){

   /*HEADER*/
   .restart-btn-text{
      display: flex;
   }

   #index-restart-btn{
      width:5rem;
      padding:0.5rem 1rem;
   }


   /*BODY*/
   .typing-text-container{
      border-bottom: none;
   }

}



@media (min-width:1280px) {
   .mobile-logo{
      display: none;
   }

   .desktop-logo{
      display: flex;
      width:12rem;
   }


   /*DIFFICULTY AND MODE*/
   .mobile-diff-and-mode{
      display: none;
   }

   .desktop-diff-and-mode{
      display: flex;
      gap:1rem;
   }

   .desktop-diff-section{
      border-right: 1px solid var(--dark-level2);
      padding-right: 1rem;
   }

   .desk-settings-section{
      display: flex;
      gap:1rem;
      align-items: center;
   }

   .desk-btn-parent{
      display: flex;
      gap:0.5rem;
      align-items: center;
   }

   .desk-btn{
      all:unset;
      cursor:pointer;
      color:var(--white);
      border: 1px solid var(--white);
      border-radius: 0.45rem;
      padding:0.25rem 0.5rem;
      transition: 0.3s;
   }

   .desk-btn:hover{
      color:var(--lighter-blue);
      border-color: var(--lighter-blue);
   }

   .desk-btn.selected{
      color:var(--darker-blue);
      border-color: var(--darker-blue);
   }
}